<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 默认构造函数数构建-->
    <bean class="com.xhjc.hello.HelloSpring">

    </bean>

    <bean id="staticTest" class="com.xhjc.hello.HelloSpring" factory-method="build">
        <constructor-arg name="type" value="A"></constructor-arg>
    </bean>

    <bean id="hey" class="com.xhjc.hello.HeyBoy"></bean>
</beans>